<div class="jumbotron rounded-0">
    <div class="container">
        <h1 class="display-3">Columbia Glacier</h1>
        <p>The remote camera system at the Columbia Glacier in Alaska.</p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-camera-figure [name]="'COLUMBIA'"></app-camera-figure>
    </div>
    <div class="col-6">
      <p>The last few images from the Columbia Glacier.</p>

      <div class="row">
        <div class="col-6" *ngFor="let image of images">
          <div class="card my-3">
            <a href="{{ image.url }}">
              <img src="{{ image.url }}" class="card-img-top">
            </a>
            <div class="card-body">
              <p class="card-text">{{ image.datetime | date:"medium" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
