<div class="row my-5">
    <div class="col-md-2">
        <h3>EFOYs</h3>
    </div>
    <div class="col-md" *ngFor="let efoy of efoys">
        <ul class="list-group mb-3">
            <li class="list-group-item">Efoy {{efoy.id}} is in {{efoy.state}} mode.</li>
            <li class="list-group-item">
                Its battery voltage is {{efoy.voltage}}V.
                <span *ngIf="efoy.state === 'auto off'">
                    This is {{efoy.voltage - 26.2 | number:'.2-2'}}V over the switch-on voltage.
                </span>
                <span *ngIf="efoy.state === 'auto on'">
                    This is {{27.6 - efoy.voltage | number:'.2-2'}}V under the switch-off voltage.
                </span>
            </li>
            <li class="list-group-item">
                It has used {{efoy.active_cartridge_consumed | number:'.1-1'}}L of cartridge {{efoy.active_cartridge}}.
            </li>
            <li *ngIf="efoy.state === 'auto on'" class="list-group-item">
                Its current output is {{efoy.current}}A.
            </li>
        </ul>

        <div class="row">
            <div class="col" *ngFor="let cartridge of efoy.cartridges">
                <div class="progress">
                    <div
                     class="progress-bar"
                     [ngStyle]="{'width.%': cartridge.fuel_percentage}">
                        {{cartridge.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
