<div class="jumbotron rounded-0">
    <div class="container">
        <h1 class="display-3">HEL BERGCAM</h1>
        <p>Remote camera systems for monitoring iceberg movement in the Sermilik Fjord.</p>
    </div>
</div>
<div class="container">
    <div class="row mb-3 justify-content-center align-items-center d-none d-md-flex">
        <div class="col-1">
            <img class="img-fluid" src="/assets/rsgis.png">
        </div>
        <div class="col-3">
            <img class="img-fluid" src="/assets/uofo.png">
        </div>
    </div>

    <h2>Cameras</h2>

    <div class="row">
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM1_2'"></camera-latest-image>
        </div>
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM1_1'"></camera-latest-image>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM2_1'"></camera-latest-image>
        </div>
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM2_2'"></camera-latest-image>
        </div>
    </div>

    <h2 class="mt-5">Other projects</h2>

    <p>
        The ATLAS project captures repeat 3D LiDAR data of the Helheim Glacier, the source of most of the icebergs in Sermilik Fjord.
        View ATLAS status information <a href="/">here</a>.
    </p>

    <h2 class="mt-5">Support</h2>

    <p>
        These cameras cere built and are maintained by the RS/GIS Center of Expertise at CRREL in New Hampshire, with support from the University of Oregon.
    </p>

    <div class="row justify-content-center align-items-center">
        <div class="col-2">
            <a href="http://www.erdc.usace.army.mil/Locations/CRREL.aspx">
                <img class="img-fluid" src="/assets/rsgis.png">
            </a>
        </div>
        <div class="col-6">
            <a href="https://www.oceanice.org/">
                <img class="img-fluid" src="/assets/uofo.png">
            </a>
        </div>
    </div>

</div>
