<div class="jumbotron rounded-0">
    <div class="container">
        <h1 class="display-3">HEL BERGCAM</h1>
        <p>Remote camera systems for monitoring iceberg movement in the Sermilik Fjord.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM1_2'"></camera-latest-image>
        </div>
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM1_1'"></camera-latest-image>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM2_1'"></camera-latest-image>
        </div>
        <div class="col-md">
            <camera-latest-image [name]="'HEL_BERGCAM2_2'"></camera-latest-image>
        </div>
    </div>
</div>
