body {
  margin-bottom: 60px;
}

.status-report {
  overflow: hidden;
}

.status-report-list {
  list-style: none;
  padding-left: 0;
}

.status-report-list li {
  float: left;
  height: 115px;
  width: 33.3%;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #fff;
}

.status-report li.status-report-ok {
  background-color: #dff0d8;
}

.status-report li.status-report-late {
  background-color: #fcf8e3;
}

.status-report li.status-report-stopped {
  background-color: #f2dede;
}

.status-report li.status-report-missing {
  background-color: #ccc;
}

.status-report .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.status-report .status-report-name {
  display: block;
  text-align: center;
  font-size: 16px;
}

.status-report .status-report-status {
  display: block;
  text-align: center;
  font-size: 12px;
}

@media(min-width: 768px) {
  .status-report li {
    width: 25%;
  }
}

@media(min-width: 992px) {
  .status-report li {
    width: 12.5%;
  }
}

.camera-picker .camera-picker-thumbnails {
  text-align: center;
}

.camera-picker .camera-picker-thumbnail {
  width: 140px;
  margin: 2px;
  cursor: pointer;
}

.camera-picker .camera-picker-thumbnail:hover {
  box-shadow: 2px 2px 1px #aaa;
}
