<div class="progress">
  <div class="progress-bar progress-bar-{{color}}" role="progressbar" aria-valuenow="{{soc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{soc}}%; min-width: 4em;">
    {{percentage soc}}
  </div>
</div>
